<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Nancy.Cassette" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch"/>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All"/>
    </switches>
  </system.diagnostics>
</configuration>