<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${specialFolder:folder=CommonApplicationData}/${processname}/${processname}-${date:format=yyyyMMdd}.log"
            keepFileOpen="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
    />
    <target name="errfile"
            xsi:type="File"
            fileName="${specialFolder:folder=CommonApplicationData}/${processname}/${processname}-ERROR-${date:format=yyyyMMdd}.log"
            keepFileOpen="true"
            layout="${longdate}|${logger}|${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:maxInnerExceptionLevel=10}"
    />
    <target name="udp"
            xsi:type="NLogViewer"
            address="udp4://localhost:7071" />
    />
  </targets>

  <rules>
    <logger name="*"
            minlevel="info"
            writeTo="logfile" />
    <logger name="*"
            minlevel="error"
            writeTo="errfile" />
    <logger name="*"
            minlevel="debug"
            writeTo="udp" />
  </rules>
</nlog>
