@using Cassette.Views
@using Nancy
@{
  Bundles.Reference("Scripts/app");
  Bundles.Reference("Styles");
}

<!DOCTYPE html>
<html>
<head>
  <title>Nancy.Cassette</title>
  @Bundles.RenderStylesheets()
</head>
<body>
  <h1>Nancy.Cassette</h1>
  <img src="@Url.Content("~/Images/kitten.jpg")" />  
  @Bundles.RenderScripts()
</body>
</html>