<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.2.859" />
  <package id="Nancy" version="0.11.0" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.11.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.11.0" />
  <package id="Nancy.Viewengines.Razor" version="0.11.0" />
</packages>