<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.46.4422.26284" />
  <package id="Autofac" version="2.5.2.830" />
  <package id="Cassette" version="1.1.0" />
  <package id="Cassette.Nancy" version="1.1.1.0" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="Jurassic" version="2.1.1" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.10.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.10.0" />
  <package id="Nancy.Viewengines.Razor" version="0.10.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
</packages>