@using Cassette.UI
@using Nancy
@{
  Assets.Scripts.Reference("Scripts/app");
  Assets.Stylesheets.Reference("Styles/app");
}

<!DOCTYPE html>
<html>
<head>
  <title>Nancy.Cassette</title>
  @Assets.Stylesheets.Render()
</head>
<body>
  <h1>Nancy.Cassette</h1>
  <img src="@Url.Content("~/Images/kitten.png")" />  
  @Assets.Scripts.Render()
</body>
</html>
