html, body
{
  background-image: url(images/lorry.png);
  font-size: .85em;
  font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#header
{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 72px;
  overflow: visible;
  z-index: 9999; /* High so that the menu appears over everything */
}

div#header #banner
{
  float: left;
  padding: 4px 0px 4px 4px;
}

div#header #mainMenu
{
  float: left;
  margin: 10px 0px 0px 20px;
  border-right: 0px;
  font-size: 1.05em;
}

div#header #account
{
  float: right;
  margin: 2px 5px 0px 0px;
}

div#content
{
  display: none;
}

div#footer
{
  display: none;
  height: 17px;
}

div#footer #copyright
{
  font-size: .95em;
  text-align: center;
}


