@{
  Cassette.UI.Assets.Scripts.Reference("Scripts/lib");
  Cassette.UI.Assets.Scripts.Reference("Scripts/app");
  Cassette.UI.Assets.Stylesheets.Reference("Styles/app");
}

<!DOCTYPE html>
<html>
<head>
  <title>Nancy.Cassette</title>
  <img id="banner" src="/Images/tag.png" alt="Banner image not found"><img/>
  @Cassette.UI.Assets.Stylesheets.Render()
</head>
<body>
  <h1>Nancy.Cassette</h1>
  @Cassette.UI.Assets.Scripts.Render()
</body>
</html>
