<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.2.5021.15814" targetFramework="net40" />
  <package id="Cassette" version="2.3.0" targetFramework="net40" />
  <package id="Cassette.Nancy" version="2.0.0" targetFramework="net40" />
  <package id="Nancy" version="0.20.0" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.20.0" targetFramework="net40" />
  <package id="NLog" version="2.1.0" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
</packages>